body {
    background-color: white;
}
.miBoton {
    float: right !important; 
}
.card {
    border: solid 2px black;
    margin: 20px;
    border-radius: 10px;
}
.seleccionado {
    color: red
}
    